## File system
.DS_Store
desktop.ini

## Editor
*.swp
*.swo
Session.vim
.cproject
.idea
*.iml
.vscode
.project
.vim/
.helix/
.zed/
.favorites.json
.settings/
.vs/
.dir-locals.el

## Build
/build
/dist/
custom-elements.json
docs/api/
docs/build/
storybook-static/

## Temporary files
*~
\#*
\#*\#
.#*

## Node
node_modules

## Coverage
coverage/

# Before adding new lines, see the comment at the top.
