:host {
    display: inline-block;
    cursor: ew-resize;
    --cc-mutable-property-color: currentColor;
}

span {
    user-select: none;
    color: var(--cc-mutable-property-color);
}

input {
    width: 4rem;
    position: absolute;
    top: 0;
    left: 0;
}

input:focus {
    outline: 2px solid var(--cc-mutable-property-color);
    outline-offset: 2px;
}
