:host {
    display: inline-block;
    cursor: ew-resize;
}

span {
    user-select: none;
}

input {
    width: 4rem;
    position: absolute;
    top: 0;
    left: 0;
}

input:focus {
    outline: 2px solid currentColor;
    outline-offset: 2px;
}
